:host {
  background: white;
}

.name {
  line-height: 80px;
  font-weight: 600;
  padding: 0 32px;
  font-size: 32px;
  color: #333;
  text-align: center;
}

.item {
  font-size: 28px;
  padding: 0 32px;
  color: #333;
  line-height: 80px;
}
