.z-button {
  background: #0ea7ff;
  color: white;
  font-size: 32px;
  line-height: 80px;
  text-align: center;
  width: 100%;
}

.iphoneX {
  .z-button,.confirm,.process {
    padding-bottom: 32px;
  }
}
