.sidebar {
  background: white;
  height: 100vh;
  margin-right: 16px;
}

.user-item {
  text-align: left;
  padding: 16px 8px;

  &[data-active='true'] {
    background: #F7F7F7;
  }

  .nickname {
    color: #333;
    font-size: 28px;
  }

  .wechat {
    font-size: 24px;
    color: #999;
  }
}

.score-item {

  .flex {
    align-items: center;
  }

  .score{
    width: 100px;
    text-align: right;
  }

  input{
    text-align: center;
  }
}
